<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="ConfigSuite">
    <test thread-count="1" parallel="classes" name="ConfigTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class  name="com.Bai19_ICEHRM_LoginTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="dropDownProvide"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->